# Development
CLERK_PUBLISHABLE_KEY=pk_test_Zmlyc3QtaG9ybmV0LTI3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_4FhKsKlDwXtPKMH5KClmw72iRNfdwY1T7P2zW6GYoo
DATABASE_URL=postgresql://neondb_owner:npg_kSC6cmT3nqDV@ep-holy-water-add0cvlv-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NODE_ENV=development

# Production (replace with actual values when deploying)
# CLERK_PUBLISHABLE_KEY=pk_live_your_production_key
# CLERK_SECRET_KEY=sk_live_your_production_secret
# DATABASE_URL=your_production_database_url
# NODE_ENV=production

# Cloudinary (for profile pictures)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
